.btn {
  background: none;
  border: none;
  width: 3rem;
  cursor: pointer;
}

.border {
  border: red solid 1px;
}
.position-absolute {
  position: absolute;
}
.position-relative {
  position: relative;
}
.d-flex {
  display: flex;
}
